* {
    margin: 0;
}

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e6e8ea;
    padding: 10px;
    /* border: 2px solid red; */
    box-sizing: border-box;
}

.sign{
    display: flex;
    background: #fff;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    max-width: 40rem;
    padding: 10px 40px;
    box-sizing: border-box;
} 

.hamburger {
    background: #e6e8ea;
    padding: 10px 20px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;

}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

#sign-up {
border-radius: 2rem;
padding: 10px 25px;
margin-left: 10px;
border: transparent;
background: rgb(225, 74, 99);
color: rgb(177, 196, 230);
font-size: 14px;
}

.hero {
    text-align: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    background: #f1f5f9;
    /* border: 2px solid red; */
}

.hero p {
    margin-top: 5px;
    font-size: 1.2rem;

}

.hero h1 {
    font-size: 4rem;
    letter-spacing: 0.2px;
    padding-top: 150px;
    font-weight: 500;
    
}

#start-btn {
    border: none;
    border-radius: 300px;
    background: rgb(225, 74, 99);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 40px;
    letter-spacing: 1.5px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
}
#explore-btn {
    border: 2px solid rgb(225, 74, 99) ;
    border-radius: 300px;
    background: white;
    color: rgb(225, 74, 99);
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 40px;
    letter-spacing: 1.5px;
}

.co-logos {
    display: flex;
    max-width: 100%;
    /* border: 2px solid red; */
    /* max-height: 20vh; */
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 150px;
    color: black;
}

img {
    display: inline;
    width: 50px;
    height: 50px;
}

.big-card {
    /* border: 2px solid red; */
    max-width: 70rem;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 20px;
    font-size: 2rem;
    margin: 0 auto;
    font-weight: 600;
    background: #f1f5f9 ;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

span p {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    /* padding-bottom: 60px;
    padding-left: 40px; */
    letter-spacing: 0;
    word-spacing: 0.02rem;
}

.author {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 10px;
    text-align: left;
    margin: 0 auto;
}

#name {
    font-size: 20px;
    justify-content: start;
}

#role {
    font-size: 10px;
}

.smart {
    text-align: center;
    justify-content: start;
    max-width: 65rem;
    margin: 0 auto;
    margin-bottom: 40px;
    /* border: 2px solid red; */
}

.smart h1 {
    font-size: 4rem;
    letter-spacing: 0.2px;
    padding-top: 80px;
    font-weight: 500;
}

.team1 {
    border: none;
    width: 20rem;
    height: 20rem;
    background: #3a86ff;
}
.team2 {
    border: none;
    width: 20rem;
    height: 20rem;
    background: #3a0ca3;
}
.team3 {
    border: none;
    width: 20rem;
    height: 20rem;
    background: #072acb;
}

.all-teams {
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    margin: 0 auto;
}

.customer-story {
    display: flex;
    max-width: 70rem;
    justify-content: space-between;
    margin:0 auto;
}

.story {
    width: 20rem;
}