* {
    margin: 0;
}

body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    background: #e6e8ea;
    padding: 20px;

}


/* .sign{
    display: flex;
    justify-content: space-between;
} */

ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;

}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

#sign-up {
border-radius: 2rem;
padding: 5px 10px;
border: transparent;
background: rgb(225, 74, 99);
color: rgb(177, 196, 230);
font-size: 14px;
}

.hero {
    text-align: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    background: #f1f5f9;
    border: 2px solid red;
}

.hero p {
    margin-top: 5px;
    font-size: 1.2rem;

}

.hero h1 {
    font-size: 4rem;
    letter-spacing: 0.2px;
    padding-top: 150px;
    font-weight: 500;
    
}

#start-btn {
    border: none;
    border-radius: 300px;
    background: rgb(225, 74, 99);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 40px;
    letter-spacing: 1.5px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
}
#explore-btn {
    border: 2px solid rgb(225, 74, 99) ;
    border-radius: 300px;
    background: white;
    color: rgb(225, 74, 99);
    font-size: 1rem;
    font-weight: 700;
    padding: 20px 40px;
    letter-spacing: 1.5px;
}

.co-logos {
    display: flex;
    max-width: 100%;
    border: 2px solid red;
    /* max-height: 20vh; */
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 200px;
}

img {
    display: inline;
    width: 50px;
    height: 50px;
}

.big-card {
    border: 2px solid red;
    max-width: 60rem;
    padding: 20px 30px;
    font-size: 2.5rem;
    margin: 0 auto;
    font-weight: 600;
    background: #f1f5f9 ;
    text-align: center;
    justify-content: center;
}

.big-card p {
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}